@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>

  <Authorized>
    <Blazor8Auth.Components.UI.Tooltip Text="logout">
      <NavLink class="nav-link" href="logout">
        <span class="bi bi-door-nav-menux" aria-hidden="true"></span>
      </NavLink>
    </Blazor8Auth.Components.UI.Tooltip>
    <span style="color: darkblue; font-size:small; font-weight: bold;">
      [@context.User.Identity.Name]
    </span>
  </Authorized>

  <NotAuthorized>
    <Blazor8Auth.Components.UI.Tooltip Text="login">
      <NavLink class="nav-link" href="login">
        <span class="bi bi-person-nav-menu" aria-hidden="true"></span>
      </NavLink>
    </Blazor8Auth.Components.UI.Tooltip>
  </NotAuthorized>

</AuthorizeView>
