.tooltip-wrapper {
	position: relative;
	display: inline-block;
	cursor:pointer;
}

span {
	visibility: hidden;
	position: absolute;
	width: 70px;
	/* bottom: 80%;
	margin-left: -60px;
	 */
	background-color: darkblue;
	color: #fff;
	font-size: xx-small;
	text-align: center;
	padding: 2px 0;
	border-radius: 1px;
	z-index: 1;
	left: 10%;
	top: -35%; /* Adjust this value to control distance from the trigger element */
}

	span::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: darkblue transparent transparent transparent;
	}

.tooltip-wrapper:hover span {
	visibility: visible;
}
